.navbar {
    padding: .5rem 22.5px !important;
    background: #212121!important;

    &-brand {
        
        img {
            height: 2rem; width: 2rem;
        }
    }
    
    &-nav {
        width: 100%;

        .nav-item {
            position: relative;

            &.active {
                background-color: #525050;
            }
            
        }

        .nav-item:nth-child(3) {
            margin-left: auto;
        }
        .nav-link {
            color: #fff !important;
            display: flex; align-items: center;
    
            &:hover {
                cursor: pointer;
            }
            
            svg {
                font-size: 1.4rem; 
            }

            &.active {
                background-color: #525050;
                //background-color: #03a9f4;
            }
        }
    }
   

    &-light .navbar-toggler {
        border-color: white !important;
        color: white !important;
        border-radius: 0 !important;
        background-color: white !important;
    }
}