.menu-item {
    height: 240px;
    position: relative;
    align-items: center; justify-items: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
  
      & .background-image {
        transform: scale(1.1);
        transition: transform .7s ease-in-out;
      }
  
      & .content {
        opacity: 0.9;
      }
    }
    &:nth-child(1) {
      grid-column: 1/3;
    }
    &:nth-child(2) {
      grid-column: 3/5;
    }
    &:nth-child(3) {
      grid-column: 5/7;
    }

    &:nth-child(4) {
      height: 380px; grid-column: 1/4;
    }
    &:nth-child(5) {
      height: 380px; grid-column: 4/7;
    }
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .background-image {
      width: 100%; height: 100%;
      object-fit: cover;
      transition: all .7s ease-in-out;

      img {
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: white;
      opacity: 0.7;
      position: absolute;
      top: 50%; left: 50%; transform: translate(-50%, -50%);

      .title {
        font-weight: bold;
        margin: 0 6px 0;
        font-size: 22px;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: 400;
        font-size: 16px;
      }
    }
}


// MEDIA QUERIES
// Extra small devices
@media (max-width: 575.98px) { 
  .menu-item {
    grid-column: 1/7 !important;
  }
}

// Small devices
@media (min-width: 576px) and (max-width: 767.98px) { 
  .menu-item {
    grid-column: 1/7 !important;
  }
}

// Medium devices
@media (min-width: 768px) and (max-width: 991.98px) { 
  
}

// Large devices
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .menu-item {

  }
}

// Extra large devices
@media (min-width: 1200px) { 
  
}